<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELERIOR</title>

    <link rel="stylesheet" href="/styles/global.css">

    <link rel="stylesheet" href="/styles/mobile-style.css" media="screen and (min-width: 0px) and (max-width: 743px)">
    
    <link rel="stylesheet" href="/styles/table-style.css" media="screen and (min-width: 744px) and (max-width: 1023px)">

    <link rel="stylesheet" href="/styles/desktop-style.css" media="screen and (min-width: 1024px)">
</head>
<body>

    <!-- Navbar Section -->
    <div class="navbar">
        <div class="logo">
            <p>ELERIOR</p>
        </div>
        <ul class="nav_items">
                <li><a href="#">Price</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
        </ul>
        <div>
            <input class="getStarted_btn" type="button" value="Get Started">
            <a class="menu_icon" href="#"><img src="/assets/Icons/menu_icon.svg" alt="Hamburger"></a>
        </div>
    </div>


    <!-- Hero Section-->
    <div class="hero_section">
        <div class="hero_info">
            <div>
                <h1>We Build The</h1>
                <h1>Unthinkable</h1>
            </div>
            
            <div>
                <p>With the #1 home partner in planning and envisioning your dream interior, whatever you imagine is possible with ELERIOR.</p>
                <div class="hero_CTA">
                    <input class="inquireNow_btn" type="button" value="Inquire Now">
                    <input class="learnMore_btn" type="button" value="Learn More">
                </div>
            </div>
        </div>
        <div class="hero_images">
            <img src="/assets/heroSec_img1.png" alt="Hero Image 1" srcset="">
            <img src="/assets/heroSec_img2.png" alt="Hero Image 2" srcset="">
            <img src="/assets/heroSec_img3.png" alt="Hero Image 2" srcset="">
        </div>
    </div>


   <!-- Services Section-->
   <div class="services_section">
        <div class="header">
            <h1>Services</h1>
            <p class="description">We provide variety of services to ensure that everything that you think is possible.</p>
        </div>

        <div class="services_content">

            <!-- Card 1 -->
            <div class="services_card">
                <div>
                    <img src="/assets/Icons/verified_symbol_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div>
                        <h1>Consultation</h1>
                        <p>The first step in creating the home you've always desired is to consult with the top interior designer.</p>
                    </div>
                    <input type="button" value="Read More">
                </div>

            </div>
            
            <!-- Card 2 -->
            <div class="services_card">
                <div>
                    <img src="/assets/Icons/verified_symbol_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div>
                        <h1>Design Management</h1>
                        <p>Accountability for the payments, inventory, and logistical aspects of the designing process.</p>
                    </div>
                    <input type="button" value="Read More">
                </div>
            </div>

            <!-- Card 3 -->
            <div class="services_card">
                <div>
                    <img src="/assets/Icons/verified_symbol_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div>
                        <h1>Home Rebuild</h1>
                        <p>A renowned interior designer offers services such as design, repair, and refurbishment.</p>
                    </div>
                    <input type="button" value="Read More">
                </div>
            </div>

        </div>
   </div>

   

   <!-- Previous Project Section -->
   <div class="previous_project_section">
        <div class="header">
            <h1>Previous Projects</h1>
        </div>

        <div class="project_slideshow">
            <img src="/assets/project1.png" alt="">
            <div>
                <div>
                    <h1>CALMNESS</h1>
                    <p>Interior design complements the seashore in Santa Monica Beach.</p>
                </div>
                <div class="project_item_progress">
                    <progress id="progress" value="0" max="100"> 0% </progress>
                    <progress id="progress" value="100" max="100"> 0% </progress>
                    <progress id="progress" value="0" max="100"> 0% </progress>
                </div>
            </div>  
        </div>
   </div>


   <!-- Testimonials Section -->
   <div class="testimonials_section">
        <div class="header">
            <h1>Testimonials</h1>
        </div>

        <div class="testimonials_content">

            <!-- Card 1 -->
            <div class="testimonial_card">
                <div>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                    <p>Great for ideas that you don’t know how to elaborate on your own.</p>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div>
                        <p class="author_name">Cameron Williamson</p>
                        <p class="author_profession">Landscape Designer</p>
                    </div>
                    <img class="testimonial_profile" src="/assets/testimonial_profile1.jpg" alt="">
                </div>
            </div>

            <!-- Card 2 -->
            <div class="testimonial_card">
                <div>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                    <p>They do their things not just for aesthetic purposes; they also incorporate safety into their designs.</p>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div class="author_credential">
                        <p class="author_name">Leslie Alexander</p>
                        <p class="author_profession">Safety Officer</p>
                    </div>
                    <img class="testimonial_profile" src="/assets/testimonial_profile2.jpg" alt="">
                </div>
            </div>

            <!-- Card 3 -->
            <div class="testimonial_card">
                <div>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                    <p>I love the aesthetic that they provide with every design that they suggest.</p>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div class="author_credential">
                        <p class="author_name">Darrell Steward</p>
                        <p class="author_profession">Site Supervisor</p>
                    </div>
                    <img class="testimonial_profile" src="/assets/testimonial_profile3.jpg" alt="">
                </div>
            </div>

            <!-- Card 4 -->
            <div class="testimonial_card">
                <div>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                    <p>Amazing consultation! Company name helped me tremendously by sharing lots of practical tips and suggestions.</p>
                    <img src="/assets/Icons/testimonial_icon.svg" alt="" srcset="">
                </div>
                <div>
                    <div class="author_credential">
                        <p class="author_name">Ronald Richards</p>
                        <p class="author_profession">Architect</p>
                    </div>
                    <img class="testimonial_profile" src="/assets/testimonial_profile4.jpg" alt="">
                </div>
            </div>

            
        </div>
    </div>





    <!-- Blogs Section -->
   <div class="blogs_section">
        <div class="header">
            <h1>News and Stories</h1>
        </div>

        <div class="blogs_content">

            <!-- Card 1 -->
            <div class="blog_item_card">
                <div class="header">
                    <img src="/assets/blog_img1.jpg" alt="">
                    <img src="/assets/blog_profile1.jpg" alt="">
                </div>
                <div class="body_content">
                    <div>
                        <p>May 23, 2021</p>
                        <h1>Effects of illegal logging on furniture-producing</h1>
                    </div>
                    <div>
                        <div class="item">
                            <img src="/assets/Icons/mail.svg" alt="">
                            <p>10</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/remove_red_eye.svg" alt="">
                            <p>14</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/share.svg" alt="">
                            <p>8</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="blog_item_card">
                <div class="header">
                    <img src="/assets/blog_img2.jpg" alt="">
                    <img src="/assets/blog_profile2.jpg" alt="">
                </div>
                <div class="body_content">
                    <div>
                        <p>September 02, 2023</p>
                        <h1>Interior Design Trend 2023</h1>
                    </div>
                    <div>
                        <div class="item">
                            <img src="/assets/Icons/mail.svg" alt="">
                            <p>15</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/remove_red_eye.svg" alt="">
                            <p>100</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/share.svg" alt="">
                            <p>50</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 3 -->
            <div class="blog_item_card">
                <div class="header">
                    <img src="/assets/blog_img3.jpg" alt="">
                    <img src="/assets/blog_profile3.jpg" alt="">
                </div>
                <div class="body_content">
                    <div>
                        <p>March 26, 2022</p>
                        <h1>The best color scheme that you can implement in your own house</h1>
                    </div>
                    <div>
                        <div class="item">
                            <img src="/assets/Icons/mail.svg" alt="">
                            <p>21</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/remove_red_eye.svg" alt="">
                            <p>34</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/share.svg" alt="">
                            <p>17</p>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Card 4 -->
             <div class="blog_item_card">
                <div class="header">
                    <img src="/assets/blog_img4.jpg" alt="">
                    <img src="/assets/blog_profile4.jpg" alt="">
                </div>
                <div class="body_content">
                    <div>
                        <p>March 04, 2023</p>
                        <h1>Tips on how to properly utilize small spaces in your house</h1>
                    </div>
                    <div>
                        <div class="item">
                            <img src="/assets/Icons/mail.svg" alt="">
                            <p>34</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/remove_red_eye.svg" alt="">
                            <p>25</p>
                        </div>
                        <div class="item">
                            <img src="/assets/Icons/share.svg" alt="">
                            <p>92</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer Section -->
    <div class="footer_section">
        <div class="content_top">
            <div class="vertical_divider"></div>
            <div>
                <div>
                    <h1>ELERIOR</h1>
                    <p>We provides elegant design for your interior</p>
                </div>
                <input class="contact_btn" type="button" value="CONTACT US">
            </div>
            <div class="vertical_divider"></div>
            <ul class="social_links">
                <li><img src="/assets/Icons/facebook.svg" alt="facebook"></li>
                <li><img src="/assets/Icons/instagram.svg" alt="instagram"></li>
                <li><img src="/assets/Icons/twitter.svg" alt="twitter"></li>
                <li><img src="/assets/Icons/youtube.svg" alt="youtube"></li>
            </ul>
        </div>
        <div class="content_bottom">
            <div class="horizontal_divider"></div>
            <div>
                <p>All right reserved © 2023</p>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>